<div class="panel panel-default panel-shadow">
    <div class="list-group">
        <div class="list-group-item">
            <div class="media">
                <div class="media-body center btn btn-default-light bold">
                    <a href="#practice_qns" style="color:black">Practice Questions</a>
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="media">
                <div class="media-body center btn btn-default-light bold">
                    <a href="#take_exam" style="color:black">Take an Exam</a>
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="media">
                <div class="media-body center btn btn-default-light bold">
                    <a href="#" class="text-regular">Take an Exam</a>
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="media">
                <div class="media-body center btn btn-default-light bold">
                    <a href="#exam_history" style="color:black">Exam History</a>
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="media">
                <div class="media-body center btn btn-default-light bold">
                    <a href="#help" style="color:black">Help</a>
                </div>
            </div>
        </div>
    </div>
</div>
