<div class="col-sm-6 col-md-6">
		<div class="panel panel-default panel-shadow">
			<div class="panel-body">
				<h4 class="margin-t-none">Downloaded Tests <a href="javascript:alert('You dont need internet to view downloaded test exam!')" class="btn btn-default-dark btn-xs pull-right"><i class="md md-cloud-done"></i></a> </h4>
				<p>Tests you have downloaded already are found down here.</p>
			</div>
			<ul class="list-group" style="height:200px; overflow-y: scroll;">
				<div class="list-group-item">
                    <div class="media">
                        <div class="media-left">
                            <div class="text-muted">1.</div>
                        </div>
                        <div class="media-body">
                            <a class="text-regular" href="#">Practice Exam One</a>
                        </div>
                        <div class="media-right">
                            <div class="text-right text-muted"><a href="#practice_qns/1" class="label label-info">Start</a></div>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="media">
                        <div class="media-left">
                            <div class="text-muted">2.</div>
                        </div>
                        <div class="media-body">
                            <a class="text-regular" href="#">Practice Exam two</a>
                        </div>
                        <div class="media-right">
                            <div class="text-right text-muted"><a href="" class="label label-info">Start</a></div>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="media">
                        <div class="media-left">
                            <div class="text-muted">1.</div>
                        </div>
                        <div class="media-body">
                            <a class="text-regular" href="#">Practice Exam One</a>
                        </div>
                        <div class="media-right">
                            <div class="text-right text-muted"><a href="" class="label label-info">Start</a></div>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="media">
                        <div class="media-left">
                            <div class="text-muted">2.</div>
                        </div>
                        <div class="media-body">
                            <a class="text-regular" href="#">Practice Exam two</a>
                        </div>
                        <div class="media-right">
                            <div class="text-right text-muted"><a href="" class="label label-info">Start</a></div>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="media">
                        <div class="media-left">
                            <div class="text-muted">1.</div>
                        </div>
                        <div class="media-body">
                            <a class="text-regular" href="#">Practice Exam One</a>
                        </div>
                        <div class="media-right">
                            <div class="text-right text-muted"><a href="" class="label label-info">Start</a></div>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="media">
                        <div class="media-left">
                            <div class="text-muted">2.</div>
                        </div>
                        <div class="media-body">
                            <a class="text-regular" href="#">Practice Exam two</a>
                        </div>
                        <div class="media-right">
                            <div class="text-right text-muted"><a href="" class="label label-info">Start</a></div>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="media">
                        <div class="media-left">
                            <div class="text-muted">1.</div>
                        </div>
                        <div class="media-body">
                            <a class="text-regular" href="#">Practice Exam One</a>
                        </div>
                        <div class="media-right">
                            <div class="text-right text-muted"><a href="" class="label label-info">Start</a></div>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="media">
                        <div class="media-left">
                            <div class="text-muted">2.</div>
                        </div>
                        <div class="media-body">
                            <a class="text-regular" href="#">Practice Exam two</a>
                        </div>
                        <div class="media-right">
                            <div class="text-right text-muted"><a href="" class="label label-info">Start</a></div>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="media">
                        <div class="media-left">
                            <div class="text-muted">1.</div>
                        </div>
                        <div class="media-body">
                            <a class="text-regular" href="#">Practice Exam One</a>
                        </div>
                        <div class="media-right">
                            <div class="text-right text-muted"><a href="" class="label label-info">Start</a></div>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="media">
                        <div class="media-left">
                            <div class="text-muted">2.</div>
                        </div>
                        <div class="media-body">
                            <a class="text-regular" href="#">Practice Exam two</a>
                        </div>
                        <div class="media-right">
                            <div class="text-right text-muted"><a href="" class="label label-info">Start</a></div>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="media">
                        <div class="media-left">
                            <div class="text-muted">1.</div>
                        </div>
                        <div class="media-body">
                            <a class="text-regular" href="#">Practice Exam One</a>
                        </div>
                        <div class="media-right">
                            <div class="text-right text-muted"><a href="" class="label label-info">Start</a></div>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="media">
                        <div class="media-left">
                            <div class="text-muted">2.</div>
                        </div>
                        <div class="media-body">
                            <a class="text-regular" href="#">Practice Exam two</a>
                        </div>
                        <div class="media-right">
                            <div class="text-right text-muted"><a href="" class="label label-info">Start</a></div>
                        </div>
                    </div>
                </div>


			</ul>
		</div>
</div>
<div class="col-sm-6 col-md-6">
	<div class="panel panel-default panel-shadow">
		<div class="panel-body">
			<h4 class="margin-t-none"><a href="javascript:alert('To download, You need to be connected to the internet!')" class="btn btn-default-dark btn-xs pull-right"><i class="md md-cloud-download"></i></a> Download New Tests</h4>
			<p>A list of unlimited <span class="label label-warning">new</span> practice tests on our servers.</p>
		</div>
		<ul class="list-group" style="height:200px; overflow-y: scroll;">
			<div class="list-group-item">
                <div class="media">
                    <div class="media-left">
                        <div class="text-muted">1.</div>
                    </div>
                    <div class="media-body">
                        <a class="text-regular" href="#">Practice Exam One</a>
                    </div>
                    <div class="media-right">
                        <div class="text-right text-muted"><a href="" class="label label-warning">Download</a></div>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="media">
                    <div class="media-left">
                        <div class="text-muted">2.</div>
                    </div>
                    <div class="media-body">
                        <a class="text-regular" href="#">Practice Exam Two</a>
                    </div>
                    <div class="media-right">
                        <div class="text-right text-muted"><a href="" class="label label-warning">Download</a></div>
                    </div>
                </div>
            </div>

		</ul>
	</div>
</div>

